#controls {	clear: both;
}

#myHand  { 	clear: both;
			border: 1px solid gray;
			height: 250px;
			width: 835px;
}

h3 {		display: inline;
			padding-right: 40px;
}

.currentHand {		float: left;
}

#btnHit, #btnSTick, #btnRestart {	display: none;
									float: left;
}